[Desktop Entry]
Name=ChatGPT
Exec=webapp-container  --app-id='chatgpt.pparent' --store-session-cookies --webapp-name='ChatGPT' https://chatgpt.com/
Icon=assets/logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
