[Desktop Entry]
Name=Airbnb
Exec=webapp-container --webappUrlPatterns='https://*.airbnb.*/*' --app-id='airbnb.pparent' --store-session-cookies --webapp-name='Airbnb' https://www.airbnb.com
Icon=assets/logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
